.advantages {
    background-color: #fff;

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-icon {
            @include adaptive-width(70, 20);
            @include adaptive-height(70, 20);
            @include adaptive-marginBottom(20,10);
        }

        &-text {
            font-family: MontserratSemiBold;
            @include adaptive-font(18,10);
        }
    }
}