.header {
    padding: 30px 0;
    border: 1px dashed rgb(215, 215, 219);
    transition: all .3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    &--fixed {
        padding: 10px 0 !important;
        position: fixed;
        background-color: $sectionBgColor;
        z-index: 5;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            &:not(:last-child) {
                @include adaptive-marginRight(50,25);
            }
        }

        &-link {
            color: rgb(0, 0, 0);
            font-family: MontserratMedium;
            @include adaptive-font(16, 12);
            transition: all .3s;

            &:hover {
                color: $mainColor;
            }
        }
    }

    &__phone {
        color: rgb(0, 0, 0);
        font-family: MontserratMedium;
        font-size: 16px;
        @include adaptive-font(16, 12);
        transition: all .3s;

        &:hover {
            color: $mainColor;
        }
    }

    &__burger{
        width: 30px;
        height: 20px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        span{
            width: 100%;
            height: 2px;
            background-color: #000;
        }
    }
}

@media (max-width: 700px) {
    .header{
        padding: 20px 0;
        &__navigation, &__phone{
            display: none;
        }

        &__burger{
            display: flex;
        }
    }
}