.footer {
    padding: 50px 0;
    background-color: $mainColor;
    color: #fff;

    .logo {
        color: #fff;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    &__bottom {
        p {
            font-family: MontserratRegular;
            @include adaptive-font(14, 10);
        }
    }

    &__contact,&__pages{
        max-width: 35%;
    }

    &__title {
        font-family: MontserratBold;
        @include adaptive-font(24, 15);
        margin-bottom: 10px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &-title {
            font-family: MontserratBold;
            @include adaptive-font(17, 11);
        }
    }

    &__link {
        font-family: MontserratRegular;
        @include adaptive-font(14, 10);
        color: #fff;
        position: relative;
        display: inline-block;
        text-decoration: none;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            transition: transform 0.3s ease;
            transform: scaleX(0);
            transform-origin: bottom right;
        }

        &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

@media (max-width: 500px) {
    .footer{
        .logo{
            margin-bottom: 15px;
        }

        &__top{
            flex-direction: column;
        }

        &__contact, &__pages{
            max-width: 100%;
        }

        &__contact{
            margin-bottom: 15px;
        }

    }
}